
                                                            /* BODY */
body {
background-color: #1D1D1D;
color: #fff;
font-family: 'Tilt Neon', cursive;
background-size: cover;
margin: 0;
}
p {
  font-size: larger;
  margin-top: 5vh;
  line-height: 2.5;
}

@media screen and (max-width: 992px) {
  body{
    text-align: center;
    align-items: center;
  }

  Container{
    max-width: 960px;
  }
}

.center-60px{
  text-align: center;
  font-size: 60px;
}

                                                                /* NAVBAR */
  .navbar {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .nav-link {
  color: #28242F;
  text-decoration: none;
  margin-right: 3vw;
  padding: 0.4rem;
  }

  .git-link:hover, .nav-link:hover{
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #bc13fe,
  0 0 82px #bc13fe,
  0 0 92px #bc13fe,
  0 0 102px #bc13fe,
  0 0 151px #bc13fe;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
  }

                                                                /* BANNER */
.my_pic {
  width: 75%;
  border-radius: 100%;
  box-shadow: 0 0 .2rem rgb(196, 196, 196),
    0 0 .2rem rgb(196, 196, 196),
    0 0 2rem #FE052B,
    0 0 0.8rem #FE052B,
    0 0 2.8rem #FE052B,
    inset 0 0 1.3rem #FE052B;
}
.text-red{
  text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
}

.text-shadow-red-blink {
  text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
    color: #fff;
  }
}

#my-name-size{
  font-size: 75px;
}

.my-name-style {
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.text-shadow-purple {
  color: #E6C4F1;
  text-shadow: 0 0 5px #bc13fe, 0 0 15px #bc13fe, 0 0 20px #bc13fe, 0 0 40px #bc13fe, 0 0 60px #bc13fe, 0 0 10px #bc13fe, 0 0 98px #bc13fe;
}

Button {
  margin-bottom: 10vh;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* SOCIALS */
#LinkedIn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

#LinkedIn:hover {
  color: #106BC4;
  background: #fff;
  box-shadow: 0 0 5px #106BC4, 0 0 15px #106BC4, 0 0 20px #106BC4, 0 0 40px #106BC4, 0 0 60px #106BC4, 0 0 10px #106BC4, 0 0 98px #106BC4;
}

#Github {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

#Github:hover {
  color: #fff;
  background: #8D30AB;
  box-shadow: 0 0 5px #8D30AB, 0 0 15px #8D30AB, 0 0 20px #8D30AB, 0 0 40px #8D30AB, 0 0 60px #8D30AB, 0 0 10px #8D30AB, 0 0 98px #8D30AB;
}

#email {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

#email:hover {
  color: red;
  background: #ECEFF1;
  box-shadow: 0 0 5px #ECEFF1, 0 0 15px #ECEFF1, 0 0 20px #ECEFF1, 0 0 40px #ECEFF1, 0 0 60px #ECEFF1, 0 0 10px #ECEFF1, 0 0 98px #ECEFF1;
}

#Instagram {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

#Instagram:hover {
  color: #fff;
  background-image: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
  box-shadow: 0 0 5px #EC4C54, 0 0 15px #EC4C54, 0 0 20px #EC4C54, 0 0 40px #EC4C54, 0 0 60px #EC4C54, 0 0 10px #EC4C54, 0 0 98px #EC4C54;
}

#Twitter {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

#Twitter:hover {
  color: #1DA1F1;
  background: #fff;
  box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff, 0 0 10px #fff, 0 0 98px #fff;
}

                                                                /* ABOUT */
.about {
  display: inline-block;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 5px #00C6FE, 0 0 15px #00C6FE, 0 0 20px #00C6FE, 0 0 40px #00C6FE, 0 0 60px #00C6FE, 0 0 80px #00C6FE, 0 0 98px #00C6FE;
  animation: blink 11s infinite;
  -webkit-animation: ablink 11s infinite;
}

.about-hinge{
  display: table;
  margin: 0 auto;
}

@-webkit-keyframes ablink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #00C6FE, 0 0 15px #00C6FE, 0 0 20px #00C6FE, 0 0 40px #00C6FE, 0 0 60px #00C6FE, 0 0 80px #00C6FE, 0 0 98px #00C6FE;
    color: #fff;
  }
}

                                                                /* TIMELINE */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* cards container */
.cards {
  position: relative;
}

/* setting padding based on even or odd */
.cards:nth-child(odd) {
  padding: 30px 0 30px 30px;
}

.cards:nth-child(even) {
  padding: 30px 30px 30px 0;
}

/* Global ::before */
.cards::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid orangered;
}

/* Setting the border of top, bottom, left */
.cards:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.cards:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first cards */
.cards:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last cards  and it's odd */
.cards:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last cards  and it's even */
.cards:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the cards */
.title {
  text-shadow: 0 0 5px #FED700, 0 0 15px #FED700, 0 0 20px #FED700, 0 0 40px #FED700, 0 0 60px #FED700, 0 0 10px #FED700, 0 0 98px #FED700;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  border: 0.3em solid orangered;
}

/* text right if the cards is even  */
.cards:nth-child(even)>.info>.title {
  text-align: right;
}

.date{
  text-align: right;
}

/* setting dot to the left if the cards is odd */
.cards:nth-child(odd)>.info>.title::before {
  left: -45px;
}

/* setting dot to the right if the cards is odd */
.cards:nth-child(even)>.info>.title::before {
  right: -45px;
}


                                                                /* PROJECTS */
.proj_border{
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #04D9FF,
  inset 0 0 1.3rem #04D9FF;
}
.proj_tit {
  text-shadow: 0 0 5px #B8CAFE, 0 0 15px #B8CAFE, 0 0 20px #B8CAFE, 0 0 40px #B8CAFE, 0 0 60px #B8CAFE, 0 0 10px #B8CAFE, 0 0 98px #B8CAFE;
  text-decoration: underline;
}

.proj_link {
  margin-top: 3vh;
  margin-bottom: 1vh;
  padding: 3px;
}

.card-link {
  color: #fff;
  padding: 4px;
  text-decoration: none;
}

.live-link:hover {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #DB2320,
    0 0 82px #DB2320,
    0 0 92px #DB2320,
    0 0 102px #DB2320,
    0 0 151px #DB2320;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #DB2320,
    0 0 0.8rem #DB2320,
    0 0 2.8rem #DB2320,
    inset 0 0 1.3rem #DB2320;
}

                                                                /* SKILLS */

#skill-heading{
  text-align: center;
}

.skill-align-center {
  text-align: center;
}

.skill-name {
  color: #a1a1af;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid #28242F;
  border-radius: 20px;
}

.skill-name:hover{
  transform: scale(1.2);
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.skill-highlight {
  transform: scale(1.2);
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

                                                          /* FOOTER */
#thanks {
  text-align: center;
  font-size: 75px;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 5px #011EFF, 0 0 20px #011EFF, 0 0 40px #011EFF;
}

#sanchit {
  margin: 50px;
  padding: 10px;
  text-align: center;
  border-color: #1097F5;
}

.heart{
  text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
}

.banner-top{
  margin-top: 15vh;
}
