body{
    background-color: #0d0015;
    color: #fff;
    font-family: 'Tilt Neon', cursive;
}
.navbar{
    background-color: #1B002B;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.navbar-brand, .nav-link {
    color: #fff;
    margin-right: 3vw;
    padding: 0.4rem;
}

.navbar-brand:hover{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

.nav-link:hover {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
  }

#basic-nav-dropdown{
    margin-left: auto;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
    animation: pulsate 1.5s infinite alternate;  
}
#basic-nav-dropdown:hover{
    color: #fff;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}
#basic-nav-dropdown:active{
    color: #fff;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

img{
    width: 75%;
    border-radius: 100%;
    box-shadow: 0 0 .2rem rgb(247,250,247),
    0 0 1rem rgb(247,250,247),
    0 0 .2rem #E90C7E,
    0 0 2rem #E90C7E,
    0 0 2rem #E90C7E,
    0 0 2rem #E90C7E;;
}

#obi{
    text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
    color: #fff;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
      color: #fff;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #FE0505, 0 0 15px #FE0505, 0 0 20px #FE0505, 0 0 40px #FE0505, 0 0 60px #ff0000, 0 0 10px #FE0505, 0 0 98px #ff0000;
      color: #fff;
  }
}

#name
{
    font-size: 75px;
    font-family: 'Neonderthaw', cursive;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

#banner p{
    margin-top: 5vh;
    line-height: 2.5;
}

h4 span{
    color: #E6C4F1;
    text-shadow: 0 0 5px #bc13fe, 0 0 15px #bc13fe, 0 0 20px #bc13fe, 0 0 40px #bc13fe, 0 0 60px #bc13fe, 0 0 10px #bc13fe, 0 0 98px #bc13fe;
}

Button{
    margin-bottom: 10vh;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}